
<div class="header">
    
    <h3 routerLink="/add-airpot">Add-Airpot</h3>
    <h3 routerLink="/airpot-list">Airpot-List</h3>
    <h3 >Add-Flight</h3>
    <h3 routerLink="/flight-list" >Flight-List</h3>
    <h3 routerLink="/manage-flight">Manage-Flight</h3>
    <h3 routerLink="/invoice">Invoice</h3>
    <h3>Invoice-details</h3>
    <h3>Myprofile</h3>
    <h3 routerLink="/auth/login">Login</h3>
    <h3 routerLink="/auth/register">SignUp</h3>
 
 </div>
 <div class="wrapper">
    <label>Welcome to FLY-Booking System</label>
     <img src="../../../assets/fasyah-halim-ypkFA_nauU8-unsplash.jpg" class="img-home">
</div>
