/* You can add global styles to this file, and also import other style files */
.body-wraper{
    padding: 20px;
}
.save-btn {
    background: #8595a6;
    color: #fff;
    border: none;
    padding: 8px 50px;
    border-radius: 20px;
    margin: 20px;
    text-transform: capitalize;
}
